

.container11{
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-align: center;
}

h2 {
    color: #333;
}

p {
    color: #666;
    line-height: 1.6;
}

.container11 div {
    color: #666;
    line-height: 1.6;
}

.highlight-text {
    font-weight: bold;
    color: #e44d26;
}

.italicize-text {
    font-style: italic;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

li {
    color: #333;
    line-height: 1.4;
}